.newssletter-wrapper {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(247, 141, 167, 1) 56%,
    rgba(233, 228, 211, 1) 100%
  );

  margin-top: 50px;
}

.newssletter__tmg {
  max-width: 100%;
}
