<div class="modal" id="advartising-modal">
  <button class="modal__close" type="button">
    <img src="assets/images/krest.svg" alt="закрыть" />
  </button>
  <div class="modal__content">
    <div class="modal__title">Advertising & Brand Partnerships</div>
    <div class="modal__text">
      The Good Trade is the premier online destination for sustainable lifestyle
      content, serving a highly engaged community via our website, newsletters,
      and cross-channel social media presence. We love working with
      sustainability-minded brands that align with our audience’s interests and
      values. Tell us a bit about your brand and we’ll be in touch with our
      media kit! ✨
    </div>
    <form class="modal__form" action="">
      <ul class="modal__list modal__list--flex">
        <li class="modal__item">
          <div class="modal__name">Name*</div>
        </li>
      </ul>

      <ul class="modal__list modal__list--flex">
        <li class="modal__item">
          <input class="modal__input" type="text" />
          <div class="modal__surname">First Name</div>
        </li>
        <li class="modal__item">
          <input class="modal__input" type="text" />
          <div class="modal__surname">Last Name</div>
        </li>
      </ul>
      <ul class="modal__list">
        <li class="modal__item">
          <div class="modal__name">Company Name *</div>
          <input class="modal__input" type="text" />
          <div class="modal__surname"></div>
        </li>
        <li class="modal__item">
          <div class="modal__name">Website URL *</div>
          <input class="modal__input" type="text" />
          <div class="modal__surname"></div>
        </li>
        <li class="modal__item">
          <div class="modal__name">Email Address *</div>
          <input class="modal__input" type="text" />
          <div class="modal__surname"></div>
        </li>
        <li class="modal__item">
          <div class="modal__name">Birthday</div>
          <input
            class="modal__input"
            type="text"
            id="date-type"
            placeholder=" дд / мм / гг "
          />
          <div class="modal__surname"></div>
        </li>
        <li class="modal__item">
          <div class="modal__name">Phone nomber</div>
          <input
            class="modal__input"
            type="text"
            id="phone-type"
            placeholder=" "
          />
          <div class="modal__surname"></div>
        </li>
        <li class="modal__item">
          <div class="modal__name">Bank card number</div>
          <input
            class="modal__input"
            type="text"
            id="card-type"
            placeholder=" "
          />
          <div class="modal__surname"></div>
        </li>
        <li class="modal__item">
          <div class="modal__name">Сontribution</div>
          <input
            class="modal__input"
            type="text"
            id="currency-type"
            placeholder="$"
          />
          <div class="modal__surname"></div>
        </li>

        <li class="modal__item">
          <div class="modal__name">Your Marketing Goals *</div>
          <div class="form-group">
            <div class="form-group__item">
              <label>
                <input
                  type="checkbox"
                  name="marketing-goals"
                  class="real-checkbox"
                /><span class="custom-checkbox"></span>
                Introduce my company to The Good Trade’s audience
              </label>
            </div>
            <div class="form-group__item">
              <label>
                <input
                  type="checkbox"
                  name="coding-notes"
                  class="real-checkbox"
                /><span class="custom-checkbox"></span>
                Promote a product or upcoming campaign
              </label>
            </div>
            <div class="form-group__item">
              <label>
                <input
                  type="checkbox"
                  name="coding-notes"
                  class="real-checkbox"
                /><span class="custom-checkbox"></span>
                Increase traffic to my website
              </label>
            </div>
          </div>
        </li>

        <li class="modal__item">
          <div class="modal__name">Available Budget *</div>
          <div class="modal__surname">
            Please do not submit affiliate requests through this form.
          </div>
          <div class="form-group">
            <div class="form-group__item">
              <label>
                <input
                  type="radio"
                  name="available-budget"
                  class="real-checkbox"
                /><span class="custom-checkbox"></span>
                < $10K
              </label>
            </div>
            <div class="form-group__item">
              <label>
                <input
                  type="radio"
                  name="available-budget"
                  class="real-checkbox"
                /><span class="custom-checkbox"></span>
                $10K – $20K
              </label>
            </div>
            <div class="form-group__item">
              <label>
                <input
                  type="radio"
                  name="available-budget"
                  class="real-checkbox"
                /><span class="custom-checkbox"></span>
                $25K – $50K
              </label>
            </div>
            <div class="form-group__item">
              <label>
                <input
                  type="radio"
                  name="available-budget"
                  class="real-checkbox"
                /><span class="custom-checkbox"></span>
                $50K+
              </label>
            </div>
          </div>
        </li>

        <li class="mod al__item">
          <div class="modal__name">Your Timeline *</div>
          <div class="modal__surname">
            When do you want to go live for this campaign?
          </div>
          <div class="form-group">
            <div class="form-group__item">
              <label>
                <input
                  type="radio"
                  name="your-timeline"
                  class="real-checkbox"
                /><span class="custom-checkbox"></span>
                In the next month
              </label>
            </div>
            <div class="form-group__item">
              <label>
                <input
                  type="radio"
                  name="your-timeline"
                  class="real-checkbox"
                /><span class="custom-checkbox"></span>
                In the next quarter
              </label>
            </div>
            <div class="form-group__item">
              <label>
                <input
                  type="radio"
                  name="your-timeline"
                  class="real-checkbox"
                /><span class="custom-checkbox"></span>
                More than 3 months out
              </label>
            </div>
          </div>
        </li>

        <li class="modal__item">
          <div class="modal__name">
            Is there anything else you would like to share about your company or
            goals?
          </div>
          <input class="modal__input" type="text" />
          <div class="modal__surname"></div>
        </li>
      </ul>

      <div class="range">
        <div class="modal__name">The cost of services provided by you</div>
        <div class="range-slider">
          <span class="range-selected"></span>
        </div>
        <div class="range-input">
          <input
            type="range"
            class="min"
            min="0"
            max="100000"
            value="1000"
            step="100"
          />
          <input
            type="range"
            class="max"
            min="0"
            max="100000"
            value="10000"
            step="100"
          />
        </div>
        <div class="range-price">
          <label for="min">Min $</label>
          <input class="min" type="number" name="min" value="1000" />
          <label for="max">Max $</label>
          <input class="max" type="number" name="max" value="10000" />
        </div>
      </div>
    </form>
    <button class="modal__btn">SUBMIT</button>
  </div>
</div>
