<div class="wrapper-footer">
  <footer class="footer">
    <div class="signup__content signup__content--footer">
      <div class="signup__title signup__title--footer">
        <h2>The Daily Good Newsletter</h2>
        <div class="signup__text signup__text--footer">
          <p>
            Join 225,000 subscribers who start their day with soothing
            playlists, sustainable recipes, inspiring articles, and more. ✨
          </p>
        </div>
      </div>
      <form class="signup__form signup__form--footer" action="/" method="post">
        <input
          type="email"
          class="signup__form-input"
          placeholder="Email address"
        />

        <a class="signup__form-button" href="">SIGN UP</a>
      </form>
    </div>

    <div class="footer__contnent">
      <ul class="footer__nav-list">
        <li class="footer__nav-item">
          <a href="about.html" class="footer__nav-link"> ABOUT </a>
        </li>
        <li class="footer__nav-item">
          <button
            class="footer__nav-link"
            type="button"
            data-modal="advartising-modal"
          >
            ADVERTISE
          </button>
        </li>
        <li class="footer__nav-item">
          <a href="" class="footer__nav-link"> CAREERS </a>
        </li>
        <li class="footer__nav-item">
          <a href="" class="footer__nav-link"> PRIVACY POLICY </a>
        </li>
        <li class="footer__nav-item">
          <a href="" class="footer__nav-link"> TERMS </a>
        </li>
      </ul>

      <ul class="footer__icon-list">
        <li class="footer__icon-item">
          <a class="footer__icon-link" href="">
            <img src="assets/images/footer-icon/facebook.svg" alt="" />
          </a>
        </li>
        <li class="footer__icon-item">
          <a class="footer__icon-link" href="">
            <img src="assets/images/footer-icon/twitter.svg" alt="" />
          </a>
        </li>
        <li class="footer__icon-item">
          <a class="footer__icon-link" href="">
            <img src="assets/images/footer-icon/vk.svg" alt="" />
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-text">© 2023 The Good Trade</div>
  </footer>
</div>
