<div class="wrapper-header lock-padding">
  <header class="header">
    <nav class="nav nav--main">
      <ul class="nav__list nav__list--left">
        <li class="nav__item nav__item--left">
          <div class="nav__links">STYLE</div>
          <ul class="subnav">
            <li class="subnav__item">
              <a href="fashion.html" class="nav__link">FASHION</a>
            </li>
            <li class="subnav__item">
              <a href="fashion.html" class="nav__link">BEAUTY</a>
            </li>
          </ul>
        </li>
        <li class="nav__item nav__item--left">
          <div class="nav__links">SELF</div>
          <ul class="subnav">
            <li class="subnav__item">
              <a href="fashion.html" class="nav__link">WELLNESS</a>
            </li>
            <li class="subnav__item">
              <a href="fashion.html" class="nav__link">WORK + MONEY</a>
            </li>
            <li class="subnav__item">
              <a href="fashion.html" class="nav__link">RELATIONSHIPS</a>
            </li>
            <li class="subnav__item">
              <a href="fashion.html" class="nav__link">PARENTHOOD</a>
            </li>
          </ul>
        </li>
        <li class="nav__item nav__item--left">
          <div class="nav__links">HOME</div>
          <ul class="subnav">
            <li class="subnav__item">
              <a href="fashion.html" class="nav__link">DECOR</a>
            </li>
            <li class="subnav__item">
              <a href="fashion.html" class="nav__link">FOOD</a>
            </li>
            <li class="subnav__item">
              <a href="fashion.html" class="nav__link">ZERO WASTE</a>
            </li>
            <li class="subnav__item">
              <a href="fashion.html" class="nav__link">GIFTS</a>
            </li>
          </ul>
        </li>
        <li class="nav__item nav__item--left">
          <div class="nav__links">CULTURE</div>
          <ul class="subnav">
            <li class="subnav__item">
              <a href="fashion.html" class="nav__link">ACTIVISM</a>
            </li>
            <li class="subnav__item">
              <a href="fashion.html" class="nav__link">SLOW LIVING</a>
            </li>
            <li class="subnav__item">
              <a href="fashion.html" class="nav__link">MEDIA</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>

    <a class="header__logo" href="/#"
      ><img src="assets/images/logo.png" alt="logo"
    /></a>

    <nav class="nav nav--main">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="newsletter.html" class="nav__link">NEWSLETTER</a>
        </li>
        <li class="nav__item">
          <div class="nav__links">ABOUT</div>
          <ul class="subnav">
            <li class="subnav__item">
              <a href="about.html" class="nav__link">ABOUT</a>
            </li>
            <li class="subnav__item">
              <button
                class="nav__link"
                type="button"
                data-modal="advartising-modal"
              >
                ADVERTISE
              </button>
            </li>
            <li class="subnav__item">
              <a href="fashion.html" class="nav__link">CAREERS</a>
            </li>
          </ul>
        </li>
        <li class="nav__item">
          <button class="nav__link nav__btn search-box">
            <i class="bx bx-search icon"></i>
          </button>
          <button class="nav__link nav__chevron search-box noHover">
            <i class="bx bx-chevron-up"></i>
          </button>
        </li>
      </ul>
    </nav>
    <div class="burger" aria-label="Main Menu">
      <button class="burger__menu">
        <svg width="40px" height="40px" viewBox="0 0 60 60">
          <path
            class="line line1"
            d="M0.057,24.064L51.915,24.173L51.917,7.786L7.818,52.244"
          />

          <path
            class="line line3"
            d="M-0.032,35.821L51.906,35.821L51.907,52.227L7.856,7.812"
          />
        </svg>
      </button>
    </div>
  </header>
  <div class="accordion">
    <form action="/" class="accordion__form" method="get">
      <input
        class="accrodion__input"
        type="text"
        placeholder="Поиск по блогам"
      />
      <button class="nav__link accordion__btn search-box">
        <i class="bx bx-search icon"></i>
      </button>
    </form>
  </div>
</div>
