<div class="nav-menu__wrapper">
  <div class="nav-menu__content">
    <ul class="nav__list nav__list--mobile">
      <li class="nav__item">
        <div class="nav__links mobile__button">STYLE</div>
        <div class="subnav-menu">
          <ul class="subnav__list">
            <li class="mobile__button-close">
              <button class="nav__link mobile__button-close">BACK</button>
            </li>
            <li class="subnav__item">
              <a href="fashion.html" class="nav__link">FASHION</a>
            </li>
            <li class="subnav__item">
              <a href="fashion.html" class="nav__link">BEAUTY</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav__item">
        <div class="nav__links mobile__button">SELF</div>
        <div class="subnav-menu">
          <ul class="subnav__list">
            <li class="mobile__button-close">
              <button class="nav__link mobile__button-close">BACK</button>
            </li>
            <li class="subnav__item">
              <a href="fashion.html" class="nav__link">WELLNESS</a>
            </li>
            <li class="subnav__item">
              <a href="fashion.html" class="nav__link">WORK + MONEY</a>
            </li>
            <li class="subnav__item">
              <a href="fashion.html" class="nav__link">RELATIONSHIPS</a>
            </li>
            <li class="subnav__item">
              <a href="fashion.html" class="nav__link">PARENTHOOD</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav__item">
        <div class="nav__links mobile__button">HOME</div>
        <div class="subnav-menu">
          <ul class="subnav__list">
            <li class="mobile__button-close">
              <button class="nav__link mobile__button-close">BACK</button>
            </li>
            <li class="subnav__item">
              <a href="fashion.html" class="nav__link">DECOR</a>
            </li>
            <li class="subnav__item">
              <a href="fashion.html" class="nav__link">FOOD</a>
            </li>
            <li class="subnav__item">
              <a href="fashion.html" class="nav__link">ZERO WASTE</a>
            </li>
            <li class="subnav__item">
              <a href="fashion.html" class="nav__link">GIFTS</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav__item">
        <div class="nav__links mobile__button">CULTURE</div>
        <div class="subnav-menu">
          <ul class="subnav__list">
            <li class="mobile__button-close">
              <button class="nav__link mobile__button-close">BACK</button>
            </li>
            <li class="subnav__item">
              <a href="fashion.html" class="nav__link">ACTIVISM</a>
            </li>
            <li class="subnav__item">
              <a href="fashion.html" class="nav__link">SLOW LIVING</a>
            </li>
            <li class="subnav__item">
              <a href="fashion.html" class="nav__link">MEDIA</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav__item">
        <a href="newsletter.html" class="nav__link">NEWSLETTER</a>
      </li>
      <li class="nav__item">
        <div class="nav__links mobile__button">ABOUT</div>
        <div class="subnav-menu">
          <ul class="subnav__list">
            <li class="mobile__button-close">
              <button class="nav__link mobile__button-close">BACK</button>
            </li>
            <li class="subnav__item">
              <a href="about.html" class="nav__link">ABOUT</a>
            </li>
            <li class="subnav__item">
              <button
                class="nav__link"
                type="button"
                data-modal="advartising-modal"
              >
                ADVERTISE
              </button>
            </li>
            <li class="subnav__item">
              <a href="fashion.html" class="nav__link">CAREERS</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav__item mobile__button">
        <a href="newsletter.html" class="nav__link">SEARCH</a>
      </li>
    </ul>
  </div>
</div>
